<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Messaging Platform</title>
        <link rel="icon" href="{{url_for('static',filename='troll.ico')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js" integrity="sha512-iWPnCISAd/J+ZacwV2mbNLCaPGRrRo5OS81lKTVPtRg1wGTC20Cfmp5Us5RcbLv42QLdbAWl0MI57yox5VecQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{{url_for('static',filename='js/app.js')}}"></script>
    </head>
    <body class="dark">
        <div id="msg-wrapper">
            <div id="messages"></div>
            <div id="form-wrapper">
                <input type="text" id="message", placeholder="Message">
                <button id="sendBtn">Send</button>
            </div>
        </div>

        <p id="dark-mode-label">Dark Mode!</p>
        <div class="switch">
            <input type="checkbox" id="dark-mode-switch" checked>
            <label for="dark-mode-switch"></label>
        </div>
    </body>

</html>